/* navbar section  */
*{
  margin: 0px;
  padding: 0px;
  line-height: 17px;
}
#nav{

  display: flex;
  margin-bottom: 30px;
  margin-top: 10px;
  
  position: sticky;
  top:10px
  /* background-color: teal; */
}
#items,#text{
  display: flex;
  height:40px;
  width:40%;
  font-size: 11px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}
#items>a{
text-decoration: none;
  font-weight: bold;
  color: black;
}
#text>a{
text-decoration: none;
  font-weight: bold;
  color: black;
}
#brand{
  width:30%;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
}
a{
text-decoration: none;
color:black;
}



/* menspage Section  */
.bold{
  font-weight: bold;
  margin-bottom: 8px;
  
}

#mainbox {
/* border: 1px solid grey; */
width: 100%;
margin: auto;

font-size:20px;
font-family: 'Roboto', sans-serif;
padding: 20px;

}
#insideCol {
display: flex;
justify-content: space-between;
/* height: fit-content; */
margin: auto;

}
/* left side  */
#sidebar1,#sidebar2{
/* border: 1px solid red; */
font-size:12px;
font-family: 'Roboto', sans-serif;

width: 250px;  
}
#sidebar1>div,#sidebar2>div{
width: 50%;
margin: auto;
}
#category,#sortsec{
  /* border: 1px solid red; */
  padding-bottom:35px;
  cursor: pointer;
}
.hovereff:hover{
text-decoration: underline;
}
.underline{
  text-decoration: underline;
}
#colors+div>p:hover{
text-decoration: underline;
}
#sortsec>p:hover{
text-decoration: underline;
}

/* right side section  */

/* select{
border:1px solid black;
outline: none; 
background-color: white;
border-width: 0px;
} */
#category>p>a{
text-decoration: none;
/* color: white; */
}

/* product section  */
#middlecontainer{
/* border: 1px solid teal; */
width: 70%;
margin: 0px 20px;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,auto);
gap: 25px;
font-size:12px;
font-family: 'Roboto', sans-serif;

}
.imagediv{
width:100%;
/* border: 1px solid teal; */
/* border: 1px solid red; */
height: auto;

}
img{
width:100%;
}
#mainbox{
margin-bottom: 200px;
/* border: 1px solid grey; */

}
/* number line */
#numbers{
display: flex;
justify-content: space-between;
font-size:12px ;
width: 30%;
margin: auto;
margin-top: -100px;
margin-bottom: 200px;
}
#arrow:after {
content: ' \2794';
font-size: 14px;
}