
#hea{
    display: flex;
    margin: auto;
    height: 50px;
    width: 52%;
    border: 1px solid white;

}
#hi{
    margin: auto;
    border: 1px solid black;
    background-color: black;
    height: 40px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px;
    
}
#gri{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    font-size: 14px;
    color:rgb(56, 54, 54);
}
#gr{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    color: gray;
    font-size: 13px;
}
#col{
    color: whitesmoke;
    font-weight: 100;
    
}